# Mysql 数据库

In [1]:
import pymysql

### 基本操作

In [20]:
# 打开数据库连接
db = pymysql.connect("localhost","root","123456","rdd" )

In [21]:
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

In [27]:
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT * from user")
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
data

(5, 'test1', 1)

In [26]:
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT * from user")
# 使用 fetchall() 方法 接收全部的返回结果行
data = cursor.fetchall()
data

((5, 'test1', 1), (6, 'test2', 2))

### 事务

In [43]:
db = pymysql.connect("localhost","root","123456","rdd" )
cursor = db.cursor()
sql = "UPDATE user SET id = 6 WHERE id = '%d'" % (5)
try:
   # 执行SQL语句
    a=cursor.execute(sql)
   # 向数据库提交
    db.commit()
    print("执行完毕",a)
except Exception as e:
   # 发生错误时回滚
    print("发生错误",e.args)
    db.rollback()

发生错误 (1062, "Duplicate entry '6' for key 'PRIMARY'")

In [44]:
# 关闭数据库连接
db.close()